@import "src/scss/vars";

.layout {
  width: 1200px;
  margin: 30px auto 0;
  padding-bottom: 15px;

  box-shadow: 0 0 10px 0 rgba(#000, 0.1);
  border-radius: 0 0 5px 5px;

  &__header {
    display: flex;
    align-items: center;
    min-height: 44px;
    padding: 10px 15px;

    background-color: $accent-color;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
  }
  &__title {
    margin: 0;

    color: $title-color;
  }
  &__btn {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 15px;

    font-size: 12px;
    color: #ffffff;
    background-color: $accent-color;
    border: 1px solid #ffffff;
    border-radius: 3px;
    transition: 0.2s linear;
    cursor: pointer;
    outline: none;

    svg {
      display: block;
      margin-right: 5px;
      fill: #ffffff;
      transition: 0.2s linear;
    }
    &:hover,
    &:focus {
      background-color: #ffffff;
      color: $accent-color;

      svg {
        fill: $accent-color;
      }
    }
    &:not(:first-of-type) {
      margin-left: 5px;
    }
    &:first-of-type {
      margin-left: auto;
    }
  }
  &__wrap {
  }
}
